<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <connectionStrings>
      <add name="cs" connectionString="server=localhost; user id=root; password=dm900494665; database=bd_productos; pooling=false; Charset = utf8;"/> <!--158.30.27.252-->
    </connectionStrings>
  <appSettings>
    <add key = "Key7" value = "C:\Users\IDETECO\source\repos\RegistroProductos\RegistroProductos\PDF Templates\Template JETA-1.pdf" />
  </appSettings>
</configuration>