<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <connectionStrings>
      <add name="cs" connectionString="server=localhost; user id=root; password=dm900494665; database=bd_productos; pooling=false; Charset = utf8;"/> <!--158.30.27.252-->
    </connectionStrings>
  <appSettings>
    <add key = "Key1"  value = "C:\Users\IDETECO\source\repos\RegistroProductos\RegistroProductos\PDF Templates\Template ALCOHOL V10.pdf"/>
    <add key ="Key2-8" value = "C:\Users\IDETECO\source\repos\RegistroProductos\RegistroProductos\PDF Templates\Template DIESEL V22.pdf"/>
    <add key = "Key10" value = "C:\Users\IDETECO\source\repos\RegistroProductos\RegistroProductos\PDF Templates\Template GASOLINA EXTRA V15.pdf"/>
    <add key = "Key7"  value = "C:\Users\IDETECO\source\repos\RegistroProductos\RegistroProductos\PDF Templates\Template JETA-1.pdf" /> <!--E:\Desarrollo ExxonMobil\Registro de Productos\RegistroProductos\PDF Templates\Template JETA-1.pdf-->
    <add key = "Key11" value = "C:\Users\IDETECO\source\repos\RegistroProductos\RegistroProductos\PDF Templates\Template GAS EXTRA OXIG V20.pdf"/>
    <add key = "Key12" value = "C:\Users\IDETECO\source\repos\RegistroProductos\RegistroProductos\PDF Templates\Template MOGAS OXIG V20.pdf" /><!--E:\Desarrollo ExxonMobil\Registro de Productos\RegistroProductos\PDF Templates\Template MOGAS OXIG V20.pdf-->
    <add key ="Image"  value = "C:\Users\IDETECO\source\repos\RegistroProductos\RegistroProductos\Firmas\Firma.png"/><!--E:\Desarrollo ExxonMobil\Registro de Productos\RegistroProductos\Firmas\Firma.png-->
  </appSettings>
</configuration>